@import 'bootstrap/dist/css/bootstrap.min.css';
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
* {
  background-color: #ffffff;
  font-family: "Roboto Condensed", sans-serif;
  color: #312f2e;
  margin: 5px;
}
/* Menu */
.App-logo {
  width: 200px;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  
}
.buscar {
  display: flex;
  flex-direction: row;
}
.imgSearch {
  width: 19px;
  cursor: pointer;
}
/* Carrusel */
.info {
  background-color: transparent;
  color: #312f2e;
}
.carousel-caption{
  color: #312f2e;
}
h3 {
  background-color: transparent;
}
h1 {
  text-align: center;
}
.imgCarousel {
  width: 600px;
}
 
/* pie de pagina */
footer {
  display: flex;
  justify-content: space-between;
}

/*Categoria*/
.title-holder{
  text-align: center;
}
.holder{
  display: flex;
  justify-content: space-between;
  text-align: center;
}