@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
*{
  background-color: #f6f5f3;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
  margin: 5px;
}
.App-logo{
  width: 300px;
  margin-left: 0%;
}

.menu{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-around;
}
.imgSearch{
  width: 19px;
  cursor: pointer;
}
 h1{
   text-align: center;
 }
 footer{
   display: flex;
   justify-content: space-between;
 }
 .img-fluid{
   width: 500px;
 }